:host {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.charts {
  display: flex;
  justify-content: space-around;
}

.module {
  height: 100%;
  border-color: rgb(20, 188, 200);
  border: solid;
  border-radius: 20px;
  padding: 20px 10px 20px 10px;
  background-color: #D0C9C0;
}

.list {
  min-width: fit-content;
}
